{% extends 'base.html' %} {% block title %}About us{% endblock title %} {% block image %}
<img src="/static/img/about.jpg" alt="" />
<hr>
{% endblock image%}
{% block text %}
<div class="box">
    <h1>About</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur placeat doloribus cum voluptates possimus alias? Fugit odit maxime corporis error?</p>
    <div class="btn btn-dark">Join Our pannel</div>
  </div>
{% endblock text%}
 {% block part1 %}
<div class="container my-4">
  <h2 class="text-center" id="about">About us</h2>
  <p>
    Veracious Market Research (VMR) is known for its commitments to its clients
    with an experience of 100 plus niche experiences in the field of Market
    Research. We have always been coming up to our client's expectations year
    after year. Our team is well versed in Market Research Techniques and always
    keen to do better with no compromises whatsoever. We, at VMR, are always on
    our toes to deliver the task assigned to us in a stipulated period. To
    achieve the benchmarks, we are committed to working round the clock. Our
    team is capable of identifying the key issues, developing the approach to
    resolve them, researching the design, collecting & analyzing the data, and
    preparing the report, & our impeccable & deep-dive research insights take
    required action accordingly in your businesses.
    <br>
    <br>
    Our expert recruitment team employs complex technology and innovative programs making sure that we associate ourselves with panelists gathered through a multitude of reliable sources and they are double opt check panel members. The panelists who are included into our panel member list, are thoroughly  filtered using our fraud detection operating systems. Our complex recruiting methods and randomised selection of respondents contained within each profiling ensures that the individual samples are as representative as possible. The panelists are made to undergo various profiling cycles frequently to keep afloat with the latest trends, refreshed to suit market demands and organised systematically using high and low-tech methods. Unresponsive respondents, speedsters and bluffers are weeded out to ensure the best data quality for our clients.
    <br>
    <br>
    Our dedicated quality control team set benchmarking services to client, and this clears us apart from other players in the market research industry. We commit to our services as per requirements of the clients and design our experience around it. We do this by ensuring the account and project managers assigned to you are available to your disposal during the course of your project maintaining transparency throughout. We thrive on the goodwill we create in the market via our exceptional and personalised market research techniques and survey sampling designed for individual client. We take pride in the fact that our clients get the most customised services, and we ensure it by knowing you and your project needs personally and not via a designated number. We assure all our clients dedicated seasoned account manager be assigned for all requirements and the manager in-charge are aligned within the scope of the project, right from project commissioning to delivery.      
</p>
  <br>
<HR></HR>
  <h3 id="team">
    Our team
  </h3>
  <p>We have a team with diverse and valuable workforce talent, especially in the areas to recruit panel members, reaching out to choose the right panel member and inviting them to join our proprietary panel, and inviting potential respondents through social media platforms to select the right respondent and send a mail request to participate in online surveys - Gen-pops, BDMs, ITDMs, Healthcare, Opinion Leader and Other surveys.
    <br>
    <br>
    Our team leaders and project managers are the industry experts, researchers, and multi-lingual analysts who have been conducting research and handling online market research surveys and research studies extensively over the last more than a decade. They have years of experience in research and analytics with accurate data to help clients.</p>
    <br>
    <hr>
    <h3 id="mission">Our Mission</h3>
    <p>
        We aim to bridge the gap between the companies, that are in business to meet the demands of the stakeholders, and at the same time provide deep-dive market research insights by collecting impeccable primary data research reports for further actions and positioning themselves strongly in the Domestic and International Markets. To achieve our goals, we take a holistic approach using an advanced kaleidoscope method for getting the desired outcome of the assigned task. 
    </p>
    <br>
    <hr>
    <h3 id="capability">Our capability</h3>
    <p>Our ability to work in multi countries and have the potential to handle multi-language online surveys which differs us from our competitors. We can provide online data collection and have years of experience and expertise in primary and secondary data research and analysis using comprehensive and industry-specific data. We are confident that our work helps the key stakeholders to deliver research-based insights and assist them to make sound, fact-based decisions about their most crucial & imperative policies</p>
</div>
{% endblock part1 %}{% block part2 %}{% endblock part2 %}
