{% extends 'base.html' %}

{% block title %}Overview{% endblock title %}

{% block image %}
<img src="/static/img/corporate-background.jpg" alt="">
{% endblock image%}
{% block text %}
<div class="box">
    <h1>Overviews</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur placeat doloribus cum voluptates possimus alias? Fugit odit maxime corporis error?</p>
    <div class="btn btn-dark">Join Our pannel</div>
  </div>
{% endblock text%}

{% block part1 %}
<div class="container my-5">
    <h2>Overview</h2>
    <p>
       <b>Veracious Market Research (VMR)</b> founded in 2009, is a rapidly booming Market Research and analytics firm catering to its clients worldwide. We are headquartered in India, and operates in Canada, USA, and Australia.
<br>
<br>
Veracious Market Research (VMR) is a full-service research agency committed to offering high-quality market research solutions. Our services include an entire spectrum of the market research process, data collection, analysis, and evaluation through to reports and presentations along with recommendations for action <b>which has resulted in fruitful results for the clients and its stakeholders.</b> 
<br>
<br>
<b>Our ingenuity:</b> Veracious Market Research (VMR) is imbibed to build user models for use in our business service offerings and the outcome results from its benchmarking team of expert-respondent interaction.
<br>
<br>
<b>Our Adherence:</b> Veracious Market Research (VMR) is fully committed to the time, effort, and terms of a contract of its clients. We do not leave any stone unturned to prioritize and follow through with the client's business commitments. Our deliverables fetch us more referral business & opportunities.

    </p>
</div>
{% endblock part1 %}

{% block part2 %}{% endblock part2 %}