{% extends 'base.html' %}

{% block title %}Product{% endblock title %}

{% block image %}
<img src="/static/img/Partnerships.jpg" alt="">{% endblock image%}
{% block text %}
<div class="box">
    <h1>What we Offer</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur placeat doloribus cum voluptates possimus alias? Fugit odit maxime corporis error?</p>
    <div class="btn btn-dark">Join Our pannel</div>
  </div>
{% endblock text%}
{% block part1 %}
<div class="container my-5">
<h2>What we offer</h2>
<hr>
<p>VMR has more than 3.8 million proprietary panelists to manage and run CAWI (Computer Assisted Web Interviews) surveys. <br> Our Panel Members' participation rate is high. We are well versed in the Market Research business with over 100 plus years of professional experience. <br> We, at VMR, always strive to exceed our client’s expectations by meeting the timelines & completing the projects successfully.

    <br> We capture responses using the live link - (questionnaire) - survey programming done by our client.  We ensure the data collected is of high quality and genuine. <br> For data collection, we don’t stick to only one methodology rather we follow both an online and offline which helps our clients to get fruitful results.
    
    <br> The online surveys are managed by the seniors and experienced <br>professionals who possess years of Market Research Experience and are capable to select the right panel member for the projects.
    
    Our proprietary panelists are in more than 50 countries and spread across different cities and regions.</pre>
</div>
    {% endblock part1 %}


{% block part2 %}{% endblock part2 %}