{% extends 'base.html' %} {% block title %}Service{% endblock title %}
{% block image %} <img src="/static/img/respondant.jpeg" alt="" />{% endblock image%}
{% block text %}
<div class="box">
    <h1 class="text-center">Services</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Aspernatur placeat doloribus cum voluptates possimus alias? Fugit odit maxime corporis error?</p>
    <div class="btn btn-dark">Join Our pannel</div>
  </div>
{% endblock text%}
{% block part1 %}
<div class="part1 text-center container my-4">
  <p>QUALITY & EFFICIENCE</p>
  <h2 class="my-0">Our Main Service</h2>
  <hr />
  <h4 id="quantitative">Quantitative research</h4>
  <p class="text-start container">Quantitative Research is a programmed empirical investigation of observable phenomena
    via statistical, mathematical, or computational techniques to accomplish the facts and understanding of the social
    world.

    The Quantitative Research study is to determine the relationship between the independent variable and dependent
    variable within the population. The designs are either descriptive or experimental. A descriptive study establishes
    only associations between variables; an experimental study establishes causality.

    Veracious Market Research (VMR) works 24/7 with its clients and provides reliable, accurate, and relevant insights
    by using kaleidoscopic methodology with online and offline-based tools and techniques for Quantitative Research
    study projects.

    The overall objective of a quantitative research study is to classify features, count them and construct statistical
    models in an attempt to explain what is observed.

    Data Collection Methods used for quantitative research: -

    Veracious Market Research (VMR) offers services to its clients with various means of data collection in quantitative
    research and some of the widely used are shown in the list below.

    The Link has to be there or dropdown for the servicese</p>
  <div class="services-box my-4 continer-flued">
    <div class="row ">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">CATI</h4>
            <p class="card-text">
              Computer-Assisted Telephone Interviewing (CATI): This method is a
              telephone surveying technique in which the interviewer follows a
              script provided by a software application.
              <a class="readmore">Read More</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">CAPI</h4>
            <p class="card-text">
              Computer-Assisted Personal Interviewing (CAPI):  This method is an
              interviewing technique in which the respondent or interviewer uses
              a computer/laptop to answer the questions.
              <a class="readmore">Read More</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">PAPI</h4>
            <p class="card-text">
              Paper & Pencil Interviewing (PAPI): This method is the most
              commonly used for data collection. PAPI requires properly trained
              interviewers with good communication skills to speak to the
              respondents.
              <a class="readmore">Read More</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">CAWI</h4>
            <p class="card-text">
              Computer Assisted Web Interviewing (CAWI): This is a method where
              the respondent follows a questionnaire script provided on a
              webpage. The questionnaires are made in a program for creating web
              interviews.
              <a class="readmore">Read More</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Healthcare Research</h4>
            <p class="card-text">
              Physician's Speciality Panel <br />
              General Practitioner<br />
              Allergists & Immunologists<br />
              Family Physician<br />
              Internal Medicine Physician<br />
              Paediatrician<br />
              <a class="readmore">Read More</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Mystery shopping</h4>
            <p class="card-text">
              Mystery shopping: This is the method extensively used to measure
              the quality of service or compliance with regulation or to gather
              specific information about products by market research companies
              on behalf of their clients.<a class="readmore">Read More</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Retails Audits</h4>
            <p class="card-text">
              Retail Audit: This is the method used to remain competitive in the
              retail world, knowing how to create a successful audit is not just
              imperative but is necessary, especially, for the
              multi-product/brand manufacturers and marketers.
              <a class="readmore">Read More</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card" style="left: -33%;">
          <div class="card-body">
            <h4 class="card-title">Central location Test</h4>
            <p class="card-text">
              Central Location Test (CLT): This is a technique used for product
              marketing tests and it is performed in a controlled environment
              contrary, unlike home user tests.
              <a class="readmore">Read More</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <hr />
  <h4 id="qualitative">Qualitative research</h4>
  <p class="container">VMR offers the best Qualitative Research reports by exploring right audiences of different regions, communities,
    behaviour and perceptions. We are clear in understanding the research specifics, recruitment guidelines and the
    questions specifics to get right contents for content analysis and the compiling of the unstructured data by using
    various Qualitative Research methods.</p>
  <div class="services-box my-4">
    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Focus Group Discussions</h4>
            <p class="card-text">
              Focus Group Discussions (FGD) : This is a technique used for data collection in which a selected group of
              people discusses a certain topic in detail, facilitated by a professional.
              <a class="readmore">Read More</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">In-Depth Interview</h4>
            <p class="card-text">
              In Depths - Interviews : In this technique, open-ended questions are asked to a small number of
              respondents to explore their views, feelings, & experiences on a particular situation or idea.
              <a class="readmore">Read More</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Enthnography</h4>
            <p class="card-text">
              Ethnograpgy : Ethnography is also a type of social research that involves examining the behaviour of the
              participants, such as specific culture, society and individual, in a given social situation
              <a class="readmore">Read More</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Mini Groups</h4>
            <p class="card-text">
              Mini Groups : They are similar to Focus Groups. However, there would be minimum of 2 & maximum of 5 people
              group. In this method, the topics are usually difficult & they are explained to the respondents more
              clearly.
              <a class="readmore">Read More</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Usage, Image and Attitude <br> Consumer Research</h4>
            <p class="card-text">
              Usage, Attitude and Image (UAI) consumer research: In this technology, the surveys are conducted to expand
              the business development by understanding the market place & <a class="readmore">Read More</a>
            </p>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Brand Loyality and Customer <br> Saticfation Research</h4>
            <p class="card-text">
              Brand Loyalty and Customer Satisfaction Research : The research is done to gauge how products and services
              which are supplied by the company meet, exceed, or fall short of customer satisfaction.<a
                class="readmore">Read More</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock part1 %} {% block part2 %}{% endblock part2 %}